#jupyter-book==0.15.1
jupyter-book==1.0.3
notebook
jupyterlab
matplotlib
numpy
ghp-import
#jupyterlab-lsp
jupyterlab-git
pandas
vpython
ipython
seaborn
RISE
pylint
autopep8
#jupyter-collaboration
#jupyterlab-link-share
jupyterlab_vpython
#python-lsp-server
pyright
nb-js-diagrammers
nbgrader
jupyter-repo2docker

jupyter-cache

jupyterlab_myst

sphinx-exercise
sphinx-inline_tabs
sphinx_proof
sphinx_examples
sphinx_hoverxref
sphinx-inline-tabs

jupyterlab-rise
