#jupyter-book==0.15.1
jupyter-book==1.0.3
notebook
jupyterlab
matplotlib
numpy
ghp-import
#jupyterlab-lsp
jupyterlab-git
pandas
vpython
ipython
seaborn
RISE
pylint
autopep8
#jupyter-collaboration
#jupyterlab-link-share
jupyterlab_vpython
#python-lsp-server
pyright
nb-js-diagrammers
nbgrader
jupyter-repo2docker
