jupyter-book==0.15.1
notebook
jupyterlab
matplotlib
numpy
ghp-import
jupyterlab-lsp
jupyterlab-git
pandas
vpython
ipython
seaborn
RISE
pylint
autopep8
jupyter-collaboration
jupyterlab-link-share
jupyterlab_vpython
python-lsp-server
pyright
nb-js-diagrammers
