.centerimg50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* this is the size of the image */
}

.centerimg80 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
